* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
}

.container {
  color: white;
  display: grid;
  font-size: 1.2rem;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 2px;
  grid-template-areas: 
    "box1 box1 box2 box9 box9"
    "box3 box4 box5 box9 box9"
    "box6 box7 box8 box9 box9";
  height: 100vh;
}

.box {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box:hover {
  cursor: pointer;
  opacity: .5;
}

i {
  font-size: 4rem;
  margin-bottom: 3%;
}

.bio {
  font-size: 1rem;
  margin-left: 5%;
}

.box1-buttons-div {
  display: flex;
}

.fa-paperclip{
  font-size: 1rem;
}

.fa-mobile-alt{
  font-size: 1rem;
}

.fa-pencil-alt {
  font-size: 3rem;
}

.fa-telegram-plane {
  margin-bottom: 1%;
}

.fa-graduation-cap {
  margin-bottom: 1%;
}

.box1 {
  align-items: center;
  background-color: #778899;
  display: flex;
  grid-area: box1;
}

h1 {
  font-size: 2.2rem;
  margin-bottom: 5%;
}

.contact, .resume {
  border: 2px white solid;
  font-size: 1rem;
  margin-top: 5%;
  padding: 3%;
}

.contact:hover {
  cursor: pointer;
  opacity: .5;
}

.resume:hover {
  cursor: pointer;
  opacity: .5;
}

.contact {
  margin-left: 5%;
}

.box2 {
  background-color: #778811;
  grid-area: box2;
}

.box3 {
  background-color: #667744;
  grid-area: box3;
}

.box4 {
  background-color: #444422;
  grid-area: box4;
}

.box5 {
  background-color: #778899;
  grid-area: box5;

}

.box6 {
  background-color: #887766;
  grid-area: box6;
}

.box7 {
  background-color: #667744;
  grid-area: box7;
}

.box8 {
  background-color: #887766;
  grid-area: box8;
}

.box9 {
  background-image: url(images/waterfall.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  grid-area: box9;
  flex-direction: column;
  justify-content: space-between;
}

.box9-circles-div {
  display: flex;
  justify-content: flex-end;
  margin: 2% 2% 0 0;
}

.circle {
  font-size: .6rem;
  margin: 0 1% 0 0;
}

.circle:hover {
  cursor: pointer;
  opacity: .5;
}

.box9-carousel-div {
  display: flex;
  justify-content: space-between;
  margin: 0 2%;
}

.chevron {
  font-size: 1.9rem;
}

.chevron:hover {
  cursor: pointer;
  opacity: .5;
}

@media screen and (max-width: 1200px) {

  .container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
      "box9 box9 box9" 
      "box9 box9 box9"
      "box1 box1 box2"
      "box3 box4 box5"
      "box6 box7 box8";
    height: 150vh;
  }

  .contact, .resume {
    width: 40%;
  }

  .box1 {
    background-color: #447799;
    grid-area: box1;
  }

  .box2 {
    background-color: #DD9977;
    grid-area: box2;
  }

  .box3 {
    background-color: #888833;
    grid-area: box3;
  }

  .box4 {
    background-color: #8899aa;
    grid-area: box4;
  }

  .box5 {
    background-color: #447799;
    grid-area: box5;
  }

  .box6 {
    background-color: #669988;
    grid-area: box6;
  }

  .box7 {
    background-color: #888833;
    grid-area: box7;
  }

  .box8 {
    background-color: #669988;
    grid-area: box8;
  }

  .box9 {
    background-image: url(images/ridge.jpg);
    background-size: cover;
    background-position: center;
  }

  .box9-circles-div {
    display: flex;
    justify-content: flex-end;
    margin: 1% 1% 0 0;
  }

  .circle {
    font-size: .6rem;
    margin: 0 .5% 0 0;
  }

  .box9-carousel-div {
    display: flex;
    justify-content: space-between;
    margin: 0 1%;
  }

  .chevron {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 680px) {

  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
      "box9 box9"
      "box1 box2" 
      "box3 box4"
      "box5 box6" 
      "box7 box8";
  }

  h1 {
    font-size: 1.8rem;
  }

  .contact, .resume {
    font-size: .8rem;
    width: 40%;
  }
}

@media screen and (max-width: 560px) {

  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
      "box9 box9"
      "box1 box1" 
      "box2 box3"
      "box4 box5" 
      "box6 box7"
      "box8 box8";
  }

  .contact, .resume {
    width: 40%;
  }
}

@media screen and (max-width: 420px) {

  .container {
    height: 200vh;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas: 
      "box9"
      "box1" 
      "box2"
      "box3"
      "box4"
      "box5" 
      "box6"
      "box7"
      "box8";
  }

  .box1 {
    justify-content: center;
  }

  .bio {
    text-align: center;
    margin: 0;
  }

  h1 {
    font-size: 2rem;
  }

  .box1-buttons-div {
    justify-content: center;
    margin-bottom: 5%;
  }

}

